@font-face {
    font-family: 'DOKYO';
    src: url(../font/DOKYO___.TTF) format('truetype');
}

@font-face {
    font-family: 'PizzaPressFill';
    src: url(../font/PizzaPressFill.ttf) format('truetype');
    
}

@font-face {
    font-family: 'Eina01';
    src: url(../font/Eina01-Bold.ttf) format('truetype');
  }


